* {
    font-family: Arial, Helvetica, sans-serif;
}

.currently-reading {
}
.currently-reading .currently-reading-text {
    font-size: 24px;
    font-weight: bold;
}
.currently-reading .currently-reading-text .current-word {
    font-size: 24px;
    color: red;
}
.currently-reading .currently-reading-text .read {
    color: grey;
}